.offerNavBar {
  position: sticky;
  margin-top: var(--outer-margin);
  top: calc(var(--outer-margin) + var(--navbar-height));
  left: var(--outer-margin);
  z-index: var(--z-sidenavbar);
  margin-left: var(--outer-margin);

  @include mq($until: desktop) {
    ul {
      padding-top: var(--outer-margin);
      background-color: var(--white);
      margin-left: calc(-1 * var(--outer-margin));
      padding-left: var(--outer-margin);
      display: flex;
      flex-direction: row;

      li {
        padding-right: 1rem;
      }
    }
  }

  @include mq($from: desktop) {
    top: calc(var(--navbar-height) + var(--space));
  }

  li {
    list-style: none;
    padding-bottom: 1rem;

    &.selected {
      a {
        font-weight: bold;
      }
    }
  }
}