.offer {
  header {
    position: relative;
    min-height: 100vh;

    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      opacity: 0.5;

      .image {
        max-height: 100vh;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  nav {
    position: sticky;
    top: calc(var(--navbar-height) + var(--space));
    left: var(--outer-margin);
    z-index: 1000000;
    margin-left: var(--outer-margin);
    li {
      list-style: none;
      padding-bottom: 1rem;
    }
  }

  section {
    scroll-margin-top: var(--navbar-height);

    ul {
      li {
        padding-left: var(--outer-margin);
        padding-right: var(--outer-margin);
        padding-top: var(--space);
        padding-bottom: var(--space);
        position: relative;

        > div {
          flex: 0 0 50%;
        }

        .content {
          grid-column-start: 3;
          grid-column-end: 7;
        }

        .gallery {
          grid-column-start: 7;
          grid-column-end: 13;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          figure {
            margin-bottom: var(--gutter);
          }

          .double {
            width: calc(50% - (0.5 * var(--gutter)));
          }
        }

        .background {
          position: absolute !important;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
          grid-column: span 12;
          opacity: 0.5;
        }
      }
    }
  }
}
