h3.headline {
  width: 100%;
  text-align: center;
  padding-bottom: var(--space);
  display: none;
}

.container {
  position: relative;
  > div {
    @include mq($from: desktop) {
      grid-column: span 8;
    }

    section {
      border-bottom: 1px solid var(--black);
      padding-bottom: var(--space);
      padding-top: var(--space);
      width: 100%;

      &:last-child {
        @include mq($from: desktop) {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }

  aside {
    @include mq($from: desktop) {
      border-left: 1px solid var(--black);
      padding-left: var(--gutter);
      grid-column: span 4;
    }

    section:first-of-type {
      @include mq($until: desktop) {
        padding-top: var(--space-small);
      }
    }

    section:last-child div {
      @include mq($from: desktop) {
        border-bottom: 0 !important;
        padding-bottom: 0;
      }
    }
  }

  aside,
  > div {
    @include mq($from: desktop) {
      position: sticky;
      bottom: 0;
      align-self: flex-end;
    }
  }
}
