.offerNavBar {
  position: sticky;
  top: calc(var(--navbar-height));
  left: var(--outer-margin);
  z-index: var(--z-sidenavbar);
  margin-left: var(--outer-margin);

  @include mq($until: desktop) {
    ul {
      padding-top: var(--outer-margin);
      background-color: var(--white);
      margin-left: calc(-1 * var(--outer-margin));
      padding-left: var(--outer-margin);
      display: flex;
      overflow-x: scroll;
      flex-direction: row;
      scrollbar-width: none;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        padding-right: 1rem;
        white-space: nowrap;
      }
    }
  }

  @include mq($from: desktop) {
    margin-top: calc(var(--space));
    top: calc(var(--navbar-height) + var(--space));

    ul {
      grid-column: span 2;
    }
  }

  li {
    list-style: none;
    padding-bottom: 1rem;
    position: relative;

    @include mq($from: desktop) {
      &.selected {
        &:before {
          content: " ";
          width: 0.3em;
          height: 0.3em;
          background-color: black;
          position: absolute;
          z-index: 1;
          top: 0.4em;
          margin-left: -0.8em;
          transform: rotate(45deg);

          @include mq($from: wide) {
            top: 0.35em;
          }
        }
      }
    }
  }
}