.offer {
  position: relative;
  min-height: 50vh;
  background-color: var(--black);
  color: var(--white);
  padding-top: var(--space);
  padding-bottom: var(--space);
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);

  .gallery {
    grid-column: span 7;
  }

  .offers {
    grid-column: span 5;
    ul {
      list-style: none;

      a {
        color: var(--white);
      }

      li {
        padding-bottom: 1rem;
        &.active {
          padding-left: 1em;
        }
      }
    }
  }

  .gallery {
    position: relative;

    figure {
      height: 100%;
      display: flex;
      aspect-ratio: 6 / 4;

      img {
        max-height: 50vh;
        object-fit: cover;
      }
    }
  }
}
